.gsbackground {
    background-color: navy;    
}

.gsheader {
    background-color: darkgoldenrod; 
    border: 4px; 
    border-color: silver;
}

a {
    text-decoration: none;
}

* {
    color: white;
}