body {
    margin: 0;
    padding: 0;
}

p {
    font: garamond;
}

h1 {
    font: garamond;
}

h2 {
    color: seashell;
    font: garamond;
}

h3 {
    color: seashell;
    font: garamond;
}

h4 {
    color: seashell;
    font: garamond;
}